@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fd;
  font-family: "open sans";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: lightblue;
}

.container {
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  width: 500px;
}

.title {
  margin: 0px;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.7;
}

.header {
  background-color: #746140;
  color: #fff;
  padding: 30px 20px;
  /* text-align: center; */
}

.header input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;
}

.header input:focus {
  outline: none;
}

.movie-list {
  background-color: cornsilk;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

.movie-list li {
  display: flex;
  padding: 20px;
}

.movie-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 90px;
  width: 90px;
}

.movie-info {
  margin-left: 10px;
}

.movie-info h4 {
  margin: -70px 10px 10px 120px;
  opacity: 0.8;
}

.movie-info p {
  font-size: 12px;
  margin-left: 120px;
}

.movie-list li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.movie-list li.hide {
  display: none;
}
